<ul
  class="list-unstyled"
  *ngIf="courses$ | async as courses"
  data-test-id="courses-list"
>
  <li class="card card-item" *ngFor="let course of courses; index as i">
    <div class="card card-item" [attr.data-test-id]="'courses-list-item-' + i">
      <div class="card-header course-title" data-test-id="course-item-title">
        {{ course.title }}
      </div>
      <div class="card-body">
        <p data-test-id="course-item-description">
          {{ course.description }}
        </p>
        <p>
          This is a
          <span data-test-id="course-item-days">{{ course.numberOfDays }}</span
          >-day class.
        </p>
      </div>
      <div class="card-footer">
        <a
          data-test-id="course-item-offerings"
          *ngIf="course.hasOfferings"
          [routerLink]="['offerings', course.id]"
          class="btn btn-sm btn-success"
          >See When this Course is Offered</a
        >
      </div>
    </div>
  </li>
</ul>

<ng-container *ngrxLet="hasError$ as apiError">
  <div
    class="alert alert-danger"
    *ngIf="apiError === true"
    data-test-id="courses-list-alert-api-error"
  >
    <p>Sorry, there was an API Error.</p>
  </div>
  <div
    *ngIf="(courses$ | async)?.length === 0 && apiError === false"
    data-test-id="courses-list-alert-no-courses"
    class="alert alert-info"
  >
    <p>No courses found.</p>
  </div>
</ng-container>
