<div *ngIf="courses$ | async as courses">
  <div class="card card-item" *ngFor="let course of courses">
    <div class="card-header course-title">{{ course.title }}</div>
    <div class="card-body">
      <p>
        {{ course.description }}
      </p>
      <p>This is a {{ course.numberOfDays }}-day class.</p>
    </div>
    <div class="card-footer">
      <a
        *ngIf="course.hasOfferings"
        [routerLink]="['offerings', course.id]"
        class="btn btn-sm btn-success"
        >See When this Course is Offered</a
      >
      <div class="alert alert-info" *ngIf="!course.hasOfferings">
        This course is not currently offered. Check back later.
        <app-ui-dev-tip
          >Maybe let them sign up for a notification?</app-ui-dev-tip
        >
      </div>
    </div>
  </div>
</div>

<ng-container *ngrxLet="hasError$ as apiError">
  <div
    class="alert alert-danger"
    *ngIf="apiError === true"
    data-test-id="courses-list-alert-api-error"
  >
    <p>Sorry, there was an API Error.</p>
  </div>
  <div
    *ngIf="(courses$ | async)?.length === 0 && apiError === false"
    data-test-id="courses-list-alert-no-courses"
    class="alert alert-info"
  >
    <p>No courses found.</p>
  </div>
</ng-container>
